<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net46" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net46" />
  <package id="MaterialDesignThemes" version="2.3.1-ci900" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net46" />
</packages>